.nav-bar {
  position: static;
  z-index: auto;
}

.nav-links a {
  color: var(--heading-color);
}

.shop-logo-img {
  height: 30px;
  width: auto;
}

@media screen and (min-width: 260px) {
  .shop-logo-img {
    height: 40px;
    width: auto;
  }
}

@media screen and (min-width: 300px) {
  .shop-logo-img {
    height: 60px;
    width: auto;
  }
}

@media screen and (min-width:922px){
  .shop-logo-img{
    height: 65px;
    width: auto;
  }
}
.shop-container {
  position: relative;
  background-image: url("../images/shop-image.jpg");
  background-size: cover;
  background-position: 50% 30%;
  width: 100%;
  height: 50vh;
  max-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}

.shop-content{
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 900px
}

.shop-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shop-now {
  color: var(--text-color);
  font-size: 2.8rem;
}

@media screen and (min-width:540px){
    .shop-container{
        height: 60vh;
    }

    .shop-now{
        font-size: 3.2rem;
    }
}

@media screen and (min-width: 922px){
    .shop-container{
        height: 70vh;
    }

    .shop-now{
        font-size: 5rem;
    }
}

/* Products Section */

.shop-products{
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 25px;
}

.product-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 20px;
  padding: 30px 0;
}

.products{
  margin: 0;
}

@media screen and (min-width: 544px){
  .product-grid{
    grid-template-columns: repeat(3, 1fr);
  }
}

